footer
  .content
      ul 
        li
          a(href='/') Home <!-- Standardized footer.pug to match header.pug-->
        li
          a(href="/pokemon") All Pokemon
        li
          a(href="/pokemon/mew") Mew
        li 
          a(href='/blog') Blog
        li
          a(href="/trainers") Trainers