header
  .content
    a(href="/")
      img.logo(src='/images/logo.png')
    nav
      ul
        li
          a(href="/pokemon") All Pokemon
        li
          a(href="/pokemon/mew") Mew 
        li
          a(href='/blog') Blog
        li
          a(href="/trainers") Trainers
          