header
  .content
    a(href="/")
      img.logo(src='/images/logo.png')
    nav
      ul
        li
          a(href="/pokemon") All Pokemon
        li
          a(href="/blog") Blog 
        li
          a(href='/blog/posts') Posts
        li
          a(href="/blog/register") Register  
        li
          a(href='/blog/login') Login
          