extends layout
include mixins/searchPokemon.pug

block content
  .container  
    h1.title welcome to 
      img(src='/images/pokemon.jpg')
    
    +searchPokemon()

    h2.pokeH2 Welcome to the Indigo League!
    img.pika-img(src='/images/pika.jpg')
    img.pika-hat(src='/images/pikahat.jpg')
    p Can you name them all?
    .poke-container
      each poke, index in pokemon
        p #{index+1}:  
          a(href='/pokemon/' + poke.name) #{poke.name}   
      
