extends layout
include mixins/searchPokemon.pug

block content
  .container  
    h1.title welcome to 
      img(src='https://vignette.wikia.nocookie.net/nonsensopedia/images/1/17/PoK%C3%A9MoN.jpg/revision/latest?cb=20111109211622')
    
    +searchPokemon()

    h2 Here are some pokemon
      each poke, index in pokemon
        p #{index+1} 
          a(href='/pokemon/' + poke.name) #{poke.name}   
      
