extends layout

block content
  h1= title
  p Welcome to <img src=https://vignette.wikia.nocookie.net/nonsensopedia/images/1/17/PoK%C3%A9MoN.jpg/revision/latest?cb=20111109211622>#{title} datte-bayo!
  <img src=https://nerdist.com/wp-content/uploads/2017/12/bulbasaur-charmander-squirtle-pokemon.jpg>
  p Poke-post! 
  <input id="blog" type="text" /> 
  <input id="submits" type="submit" /> 
  <p id="blogPrinter"></p>
