extends layout
include mixins/searchPokemon.pug
block content
  p Welcome to 
    img.poke-image(src="/images/pokemon.jpg")
    #{title} datte-bayo!
    img(src="https://nerdist.com/wp-content/uploads/2017/12/bulbasaur-charmander-squirtle-pokemon.jpg")

  +searchPokemon
  h2.pokemon-cards Pick your poison
  a(href='/pokemon/charizard')
    img.the-legendz(src='images/charizard.jpg')
  a(href='/pokemon/blastoise')
    img.the-legendz(src='images/blastoise.jpg')
  a(href='/pokemon/venusaur')
   img.the-legendz(src='images/venusaur.jpg')
