doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700|Spicy+Rice" rel="stylesheet")
  body
    .prime
      include partials/header.pug 
      .main.content
        block content
      include partials/footer.pug  
