extends layout
include mixins/searchPokemon.pug
block content
  pre= h.dump(locals)
  .post
    each post in posts
      ul
        li Author: #{post.author}
        li Post: #{post.post}
          a(href=`/blog/posts/${post.id}`) 
            input(type='button' value=`edit` name= 'edit')
            
    