extends layout
include mixins/searchPokemon.pug
block content
  .post
    each post in posts
      ul
        li
          div Author: #{post.author} 
          div Post: #{post.post}
          a(href=`posts/${post._id}`) Edit
          form(action=`/blog/posts/delete/${post._id}` method='post')
            button(type='submit') Delete
            
       
              
    