extends layout
include mixins/searchPokemon.pug
block content
  p.garyText Welcome to Gary Oak's 
    img(src="https://vignette.wikia.nocookie.net/nonsensopedia/images/1/17/PoK%C3%A9MoN.jpg/revision/latest?cb=20111109211622")  
    #{title} Pleasure Palace for Practiced Professional Pokemon Trainers who aren't Laughable Losers Like Ashy Boi (GOPPPPPPTWALLLAB for short)

  h2.pokemon-cards All Inclusive List of Legendary Pokemon Trainers Worthy of Praise and Worship
  
  p.garyText He does what he wants!
  img.garyImage(src='https://i.imgur.com/KaUfQZ3.jpg')
  
  p.garyText He's better than you!
  img.garyImage(src='/images/Kantogary.jpeg') 
  p.garyText He's a master of disguise!
  img.garyImage(src='/images/gary_oak.jpg')
  p.garyText You too can be this cool and dress for Success with seven simple wardrobe changes! 
    a(href='https://costumewall.com/dress-like-gary-oak/')
      img.garyImage(src='/images/garyandash.jpg')
