mixin searchPokemon
	form(action=`/pokemon/search/` method='GET')
		label(for='identifier') Please search for any type of pokemon
		input#identifier(type='text' name='pokemon' placeholder='pokemon id / name')
		input(type='submit' value='Search')